#my-games {
  &.my-games {
    .my-games {
      &__title {
        @include from("desktop") {
          margin-bottom: 4rem;
        }
        margin-bottom: 3rem;

        margin-top: 0;
      }

      &__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1.6rem;
        max-width: 100%;
      }

      &__item {
        border: solid 0.1rem $color-dark-blue;
        border-radius: 1.5rem;
        transition-duration: 0.4s;
        padding: 2rem;
        margin: 0;

        &:hover,
        &:focus {
          background-color: $color-dark-blue;
          color: $color-white;
          transform: scale(1.03);
        }
      }

      &__subtitle {
        font-size: 2rem;
        margin-top: 0;
      }

      &__status {
      }

      &__rating {
      }

      &__comment {
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;

        max-width: 100%;
        margin-bottom: 0;
      }
    }
  }
}
