#profile {
  &.profile {
    @include from("desktop") {
      padding: 12rem 0;
    }
    padding: 6rem 0;

    .profile {
      &__wrapper {
        @extend .wrapper;
      }

      &__profile-settings {
      }

      &__title {
        margin: 0;
      }

      &__success {
        @extend .states;
        @extend .states__success;
      }

      &__error {
        @extend .states;
        @extend .states__error;
      }

      &__cols {
        @include from("desktop") {
          display: flex;
          justify-content: space-between;
          gap: 12rem;
        }
      }

      &__col {
        &--left {
          @include from("desktop") {
            flex-shrink: 0;
          }
        }

        &--right {
          @include from("desktop") {
            flex-grow: 1;
          }
        }
      }

      &__navigation {
        @include from("desktop") {
          position: sticky;
          top: 1rem;
          left: 0;
          padding: 3rem 6rem;
          margin-bottom: 0;
        }
        margin-bottom: 3rem;
        padding: 2rem 4rem;

        background-color: $color-dark-blue;
        color: $color-white;
        border-radius: 2rem;
      }

      &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;

        a {
          text-decoration: none;
          color: $color-white;
          font-size: 2rem;

          &:hover,
          &:focus {
            color: $color-red;
          }
        }
      }

      &__field {
        @extend .field;

        &-container {
          @extend .field-container;
        }
      }

      &__form {
        margin-top: 3rem;
      }

      &__label {
      }

      &__input {
      }

      &__submit {
        // Les styles de base sont dans forms.scss
        display: block;
        border-radius: 2.5rem;
        margin-top: 2rem;
      }

      &__delete {
        @extend .btn;
        display: block;
        background-color: $color-red;
        border: solid 0.1rem $color-white;
        font-size: inherit;
        border-radius: 2.5rem;
        margin-top: 3rem;
        margin-left: auto;

        &:hover,
        &:focus {
          background-color: $color-white;
          color: $color-red;
          border: solid 0.1rem $color-red;
        }
      }
    }
  }
}
