.filters {
  @include from("desktop") {
    display: block;
  }
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  &__group {
    @include from("desktop") {
      margin-bottom: 1.6rem;
    }
  }

  &__label {
    font-weight: bold;
  }

  &__select {
    padding: 0.5rem;
    border: 0.1rem solid rgba($color: $color-dark-blue, $alpha: 0.5);
    border-radius: 0.5rem;
  }

  &__group--platform,
  &__label {
    color: $color-red;
  }
}
