#top-games {
  &.top-games {
    @include from("desktop") {
      margin-bottom: 12rem;
    }
    margin-bottom: 6rem;

    .top-games {
      &__wrapper {
        @extend .wrapper;
      }

      &__title {
      }
    }

    .swiper {
      position: relative;

      &-button {
        &-next,
        &-prev {
          @include from("tablet") {
            width: 5.5rem;
            height: 5.5rem;
          }
          width: 4rem;
          height: 4rem;

          transform: translateY(-50%);
          margin-top: 0;

          &::after {
            content: "";
          }
        }

        &-prev {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    .game-card {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20rem;
      border: solid 0.5rem $color-white;
      border-radius: 1.6rem;
      box-shadow: 0 0.4rem 0.8rem rgba($color: $color-dark-blue, $alpha: 0.16);
      padding: 3rem;
      transition-duration: 0.4s;

      background-size: cover;
      background-repeat: no-repeat;

      &:hover,
      &:focus {
        border: solid 0.5rem $color-red;
        transform: scale(0.95);
      }

      &__container {
        padding: 3rem 0;
      }

      &__content {
        width: 100%;
        background-color: rgba($color: $color-black, $alpha: 0.7);
        color: $color-white;
        border-radius: 1.6rem;
        padding: 1rem;
      }

      &__name {
        font-size: 2rem;
      }

      &__list {
        list-style-type: none;
        display: inline-block;
        margin: auto;
        text-align: left;
      }
    }
  }
}
