a,
input,
button {
  transition-duration: 0.4s;
}

a:active,
input:active,
button:active {
  transition-duration: 0s;
}

.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-justify {
  text-align: justify;
}
.txt-upper {
  text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
  clear: both;

  *height: auto;
  *width: auto;
  *overflow: visible;
  *zoom: normal;
}

.states {
  text-align: center;
  line-height: 1.6;
  border-radius: 1rem;
  padding: 1rem;

  ul {
    list-style: none;
  }

  &__info {
    @extend .states;
    display: block;
    background-color: #f9f9f9;
    color: #787878;
    border: solid 0.1rem #d9d9d9;
  }

  &__warning {
    @extend .states;
    display: block;
    background-color: #fefbe9;
    color: #ffa800;
    border: solid 0.1rem #ffdd9a;
  }

  &__success {
    @extend .states;
    display: block;
    background-color: #dff0d8;
    color: #468847;
    border: solid 0.1rem #d6e9c6;
  }

  &__error {
    @extend .states;
    display: block;
    background-color: #fddede;
    color: #e64545;
    border: solid 0.1rem #fcbcbc;
  }

  &__highlight {
    @extend .states;
    display: block;
    background-color: #d9edf7;
    color: #3a87ad;
    border: solid 0.1rem #bee1f3;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;

  &.rounded {
    border-radius: 1rem;
  }
}

video {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
  max-width: 100%;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

  background-color: $color-dark-blue;
  color: $color-white;
  font-family: $family-neue-haas-unica;
  font-size: 1.8rem;
  font-weight: 700; // bold
  border: solid 0.1rem $color-dark-blue;
  border-radius: 2rem;
  padding: 1rem 2rem;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-dark-blue;
    border: solid 0.1rem $color-dark-blue;
  }

  &:active {
    filter: brightness(50%);
  }
}

.wrapper {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @include from("tablet") {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include from("extra-wide") {
    padding-left: 0;
    padding-right: 0;
  }
}

.text-limit {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-margin-outside {
  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.scroll {
  @include from("wide") {
    display: inline-block;
  }
  display: none;

  transition: transform 0.2s ease;

  .a1 {
    fill: $color-dark-blue;
    font-family: $family-neue-haas-unica;
    font-size: 1.5rem;
  }
  .b1,
  .f1 {
    fill: none;
  }
  .b1 {
    stroke: $color-dark-blue;
    stroke-width: 0.2rem;
  }

  .c1,
  .d1 {
    transition-duration: 0.2s;
  }

  .c1 {
    fill: $color-light-blue;
  }

  .d1 {
    fill: $color-dark-blue;
  }

  .e1 {
    stroke: none;
  }

  &:hover,
  &:focus {
    transform: translateY(1rem);

    .c1 {
      fill: $color-dark-blue;
    }
    .d1 {
      fill: $color-light-blue;
    }
  }
}

.swiper-navigation-button {
  transition-duration: 0.4s;

  &:hover,
  &:focus {
    .b {
      fill: $color-red;
    }
  }

  &:active {
    filter: brightness(0.5);
  }

  .a {
    fill: $color-white;
    transition-duration: 0.4s;
  }

  .b {
    fill: $color-dark-blue;
    stroke: $color-white;
    stroke-width: 0.2rem;
    transition-duration: 0.4s;
  }

  .c {
    clip-path: url(#a);
  }

  .d {
    stroke: none;
  }

  .e {
    fill: none;
  }
}
