main {
  height: calc(100% - 11.5rem);

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .title {
    font-family: $family-neue-haas-unica;
    font-weight: 600; // semi-bold
    color: $color-dark-blue;

    font-style: normal;
    line-height: normal;

    br {
      @include from("desktop") {
        display: block;
      }
      display: none;
    }
  }

  h1,
  .h1 {
    @include from("desktop") {
      font-size: 5rem;
    }
    font-size: 3rem;

    a {
      text-decoration: none;

      // &:hover, &:focus {}
      // &:active {}
    }
  }

  h2,
  .h2 {
    @include from("desktop") {
      font-size: 4rem;
    }
    font-size: 3rem;

    a {
      text-decoration: none;

      // &:hover, &:focus {}
      // &:active {}
    }
  }

  h3,
  .h3 {
    @include from("desktop") {
      font-size: 3rem;
    }
    font-size: 2.5rem;

    a {
      text-decoration: none;

      // &:hover, &:focus {}
      // &:active {}
    }
  }

  h4,
  .h4 {
    @include from("desktop") {
      font-size: 2.5rem;
    }
    font-size: 2rem;

    a {
      text-decoration: none;

      // &:hover, &:focus {}
      // &:active {}
    }
  }

  p,
  .p {
    font-size: 1.6rem;
  }

  p,
  li,
  blockquote,
  td,
  th,
  button,
  address {
    line-height: 1.6;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
  }

  a:not(.btn) {
    color: $color-dark-blue;

    &:hover,
    &:focus {
      color: $color-red;
    }
  }

  img {
    &.float-right,
    &.align-right {
      margin: {
        left: 2rem;
        bottom: 2rem;
      }
    }

    &.float-left,
    &.align-left {
      margin: {
        right: 2rem;
        bottom: 2rem;
      }
    }

    &.align-center {
      display: block;
    }
  }

  // strong, b {}

  blockquote {
    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &#games {
    @import "./pages/all-games.scss";
  }

  &#game-details {
    @import "./pages/game-details.scss";
  }

  &#my-games {
    @import "./pages/my-games.scss";
  }

  &#profile {
    @import "./pages/profile.scss";
  }

  &#login {
    @import "./pages/login.scss";
  }

  &#signup {
    @import "./pages/signup.scss";
  }

  &#dashboard {
    @import "./pages/dashboard.scss";
  }

  &#home {
    @import "./pages/landing-page.scss";
  }

  &#contact {
    @import "./pages/contact.scss";
  }

  &#additional-pages {
    font-size: 2rem;
    padding: 8rem 0;

    h1 {
      margin-top: 0;
    }
  }

  @import "./components/top-games.scss";
  @import "./components/modal.scss";
  @import "./components/filters.scss";
  @import "./components/pagination.scss";
  @import "./components/loading.scss";
}
