label,
.label {
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="search"],
[type="url"],
[type="date"],
textarea,
select,
.custom-input {
  display: block;
  width: 100%;
  background-color: transparent;
  color: $color-dark-blue;

  font-family: $family-neue-haas-unica;
  outline: none;
  border: solid 0.1rem $color-dark-blue;
  border-radius: 2.5rem;
  transition-duration: 0.4s;
  padding: 1rem;

  &::placeholder {
    color: $color-dark-blue;
    font-family: $family-neue-haas-unica;
    opacity: 1;
  }

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-dark-blue;

    &::placeholder {
      color: $color-dark-blue;
    }
  }
}

[type="submit"] {
  @extend .btn;
  border: solid 0.1rem $color-white;
  font-size: inherit;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-dark-blue;
    border: solid 0.1rem $color-dark-blue;
  }

  &:active {
    filter: brightness(75%);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgba($color: $color-dark-blue, $alpha: 0.5);
    color: rgba($color: $color-white, $alpha: 0.5);

    &:hover,
    &:focus {
      background-color: rgba($color: $color-dark-blue, $alpha: 0.5);
      color: rgba($color: $color-white, $alpha: 0.5);
    }
  }
}

.field {
  margin-top: 2rem;
}

.field-container {
  @include from("desktop") {
    display: flex;
    gap: 2rem;
  }
  display: block;

  .field {
    @include from("desktop") {
      margin: 0;
    }

    width: 100%;
    margin: 2rem 0;
    @extend .no-margin-outside;
  }
}
