[id="header"] {
  &.header {
    width: 100%;
    background-color: $color-dark-blue;
    color: $color-white;
    padding: 2rem 0;

    .header {
      &__site {
        &-title {
          margin: 0;

          a {
            text-decoration: none;
            display: inline-block;
            text-indent: -9999rem;
            height: 7.5rem;
            width: 7.5rem;

            // TODO: Trouver une icône
            background-image: url("../images/icone.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
          }
        }
      }

      &__cols {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--left {
          flex-shrink: 0;
        }

        &--right {
          @include from("desktop") {
            width: 100%;
          }

          position: relative;
        }
      }

      &__navigation {
        @include from("desktop") {
          position: static;
          height: auto;
          width: auto;
          overflow-y: inherit;
        }
        position: fixed;
        top: #{$header-height};
        left: 100%;
        z-index: 999;
        overflow-y: scroll;

        height: calc(100vh - #{$header-height});
        width: 100vw;
        transition-duration: 0.4s;

        &.active {
          left: 0;
          background-color: $color-dark-blue;

          a {
            color: $color-white;
          }
        }

        &-menu {
          @include from("desktop") {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 5rem;
            padding: 0;
          }
          display: block;
          padding: 3rem;

          list-style-type: none;
          margin: 0;

          &-item {
            a {
              @include from("desktop") {
                display: inline-block;
                border: none;
                padding: 0;
              }
              display: block;
              border-bottom: solid 0.1rem $color-red;
              padding: 1.5rem 0;

              text-decoration: none;
              font-size: 1.8rem;
              color: $color-white;

              &:hover,
              &:focus {
                color: $color-red;
              }

              &.active {
                color: $color-red;
              }
            }

            &.btn-contact {
              a {
                text-decoration: none;
                display: inline-block;
                color: $color-white;
                border: solid 0.1rem $color-white;
                border-radius: 1rem;
                padding: 1.5rem 0.5rem;

                &.active {
                  color: $color-red;
                  border-color: $color-red;
                }

                &:hover,
                &:focus {
                  background-color: $color-red;
                  color: $color-dark-blue;
                  border-color: $color-red;
                }
              }
            }
          }
        }
      }

      &__btn {
        @include from("desktop") {
          display: none;
        }
        display: block;

        cursor: pointer;
        position: relative;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        transition-duration: 0.4s;
        z-index: 1000;

        &:hover {
          .header__btn__burger {
            &::before {
              top: -1.2rem;
            }

            &::after {
              top: 1.2rem;
            }
          }
        }

        &.active {
          .header__btn__burger {
            background-color: transparent;
            transition-duration: 0s;

            &::before,
            &::after {
              top: 0;
              background-color: $color-white;
            }

            &::before {
              transform: rotate(-45deg);
            }

            &::after {
              transform: rotate(45deg);
            }
          }
        }

        &__burger {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          height: 0.3rem;
          width: 4rem;
          background-color: $color-white;
          border-radius: 1rem;
          transition-duration: 0.4s;

          &::before,
          &::after {
            content: "";
            position: absolute;
            right: 0;
            height: 0.3rem;
            width: 4rem;
            border-radius: 1rem;
            background-color: $color-white;
            transition-duration: 0.1s;
          }

          &::before {
            top: -1rem;
          }
          &::after {
            top: 1rem;
          }
        }

        &__menu-title {
          @extend .visually-hidden;
        }
      }
    }
  }
}
