/* Variables */
$max-width: 164rem;
$header-height: 11.5rem;

/* Colors classic */
$color-black: black;
$color-white: #fffce4;
/* Colors custom */
$color-light-blue: #b8bcd4;
$color-dark-blue: #383a47;
$color-red: #d05454;
$color-orange: #ea7804;
$color-green: #78b22b;
$color-gray: #efefef;
