@charset "UTF-8";

@import "./modules/breakpoints";
@import "fonts";

/* Dimensions */
$max-width: 1640px;
// $border-width:
$header-height: 11.5rem;

/* Colors classic */
$color-black: black;
$color-white: #fffce4;
/* Colors custom */
$color-light-blue: #b8bcd4;
$color-dark-blue: #383a47;
$color-red: #d05454;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: calc(1em * 0.625);
  scroll-behavior: smooth;
}

body {
  position: relative;

  // display: flex;
  // flex-direction: column;
  height: 100%;

  background-color: $color-white;
  color: $color-dark-blue;
  font-family: $family-neue-haas-unica;
  font-size: 1.6rem;
  font-weight: 400; // regular

  &.active {
    overflow-y: hidden;
  }

  #wrapper {
    flex: 1 0 auto;
  }

  #footer {
    flex-shrink: 0;
  }

  noscript {
    div {
      margin: 0 2rem;
    }
  }

  /* Stylesheets classic */
  @import "commons";
  @import "content";
  @import "header";
  @import "footer";

  /* Stylesheets custom */
  @import "swiper";
  @import "anime";
}
